# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.github/
.idea/
*.swp
*.swo

# Archivos de compilación
dist/
build/
node_modules/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de backup
*.bak
*.backup

